<h1>Weather#load</h1>
<p>Find me in app/views/weather/load.html.erb</p>
<p> Seoul weathr </p>
<p>temperatue 
<%= @temp %>
<%= @tempUnit %> </p>
<p> wind direction </p>
<%= @windDir %>
<p> details </p>
<%= @condition %>
<p> json </p>
<%= @json_result %>
 </div>
