<h3>Item Packs</h3>
<p>다양한 아이템 팩을 별도로 구매하실 수 있습니다.</p>
<!-- <table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @itempacks.each do |itempack| %>
  <tr>
    <td><%= link_to 'Show', itempack %></td>
    <td><%= link_to 'Edit', edit_itempack_path(itempack) %></td>
    <td><%= link_to 'Destroy', itempack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table> -->

<br />


<!-- <%= link_to 'New Itempack', new_itempack_path %> -->


<%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), :controller => 'paypal_express', :action => 'checkout' %>

<div class="row">

        <div class="span4">
			<%= image_tag "itemPack1.png" ,:class => "img-rounded" %>
        </div>
		<div class="span4">
			<%= image_tag "itemPack2.png" ,:class => "img-rounded" %>
		</div>
	    <div class="span4">
	 	   <%= image_tag "itemPackComingSoon.png" ,:class => "img-rounded" %>
	   </div>
</div>