<div class ="form-sign form-sign-forgot">
<h2>Forgot your password?</h2>
</br>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true,:placeholder=>'Email' %></div>

  <div><%= f.submit "Send me reset password instructions",:class=>'btn' %></div>
	</br>
<%= render "users/shared/links" %>
<% end %>
</div>
